/*Código realizado por: Irene Mendoza Mederos y José Manuel Gómez Ruiz*/

body {
  font-family: sans-serif;
  margin: 10px;
  background-color: #e6d6f4;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  color: purple;
}

button {
  border-radius: 12px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: whitesmoke;
  border: 2px solid purple;
  color: purple;
 
}

button:hover {
  background-color: purple;
  color: white;
  cursor: pointer;
}
input{
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: whitesmoke;
  border: 2px solid purple;
}
img{
  display: block;
  margin: auto;
}
