

body {
  font-family: sans-serif;
  margin: 10px;
  background-color: #e6d6f4;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #6f6e70;
  border: 1px solid black;
  color: aliceblue;
}

img{
  display: block;
  margin: auto;
}